*,
::before,
::after {
	box-sizing: border-box;
}

/**********************************/
/* 0. Variables
/* 1. General Styles
/* 2. Navbar
/* 3. Hero
/* 4. About Us
/* 5. Exclusive
/* 6. Packages
/* 7. Newsletter
/* 8. Gallery
/* 9. Footer
/* 10. Modal
/**********************************/

/**********************************/
/* 0. Variables
/**********************************/
:root {
	--ff-primary: "Cairo", sans-serif;
	
	--clr-background: 	#F5F5F5;
	--clr-white: 				#F1FCDE;
	--clr-black: 				#090E01;
	--clr-light-green: 	#DEF8AF;
	--clr-medium-green: #88CC11;
	--clr-dark-green: 	#456809;
	
	--spacing: 0.25rem;
	--transition: all 0.2s linear;
	--dark-shadow: 0 .1rem 0.5rem rgba(0, 0, 0, 0.2);
}

/**********************************/
/* 1. General Styles
/**********************************/
html {
	font-size: 62.5%;
}

body {
	font-family: var(--ff-primary);
	background: var(--clr-background);
}

a {
	text-decoration: none;
}

p {
	font-size: 1.6rem;
	line-height: 1.3;
}

/**********************************/
/* 2. Navbar
/**********************************/
.navbar {
	position: fixed;
	background: var(--clr-background);
	width: 100%;
	padding: 1.6rem;
	box-shadow: var(--dark-shadow);
	z-index: 3;
}

.navbar-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-header__toggle {
	background: transparent;
	border: transparent;
	font-size: 3rem;
	color: var(--clr-medium-green);
	cursor: pointer;
	transition: var(--transition);
}

.navbar-header__toggle:hover {
	transform: scale(1.1);
}

.navbar-list {
	height: 0;
	overflow: hidden;
	transition: var(--transition);
}

.nabar-list--show-links {
	height: 25rem;
}

.navbar-list__link {
	display: block;
	font-size: 1.6rem;
	font-weight: 900;
	padding: 1.6rem;
	text-transform: capitalize;
	color: var(--clr-black);
	transform: var(--transition);
}

.navbar-list__link:hover {
	background: var(--clr-medium-green);
	padding-left: 3.6rem;
}

.navbar-icons {
	display: none;
}

@media screen and (min-width: 992px) {
	.navbar-header__toggle {
		display: none;
	}

	.navbar-list {
		height: auto;
		display: flex;
	}

	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: .8rem 1.6rem;
	}

	.navbar-list__link:hover {
		background: none;
		padding-left: 1.6rem;
		color: var(--clr-medium-green)
	}

	.navbar-icons {
		display: flex;
	}

	.navbar-icons__icon {
		margin-right: 1.6rem;
		color: var(--clr-black);
		font-size: 1.8rem;
		font-weight: 900;
		transition: var(--transition);
	}

	.navbar-icons__icon:hover {
		color: var(--clr-medium-green);
	}
}

@media screen and (min-width: 1170px) {
	.navbar {
		padding: .8rem calc((100% - 117rem - 1.6rem) / 2);
	}
}

/**********************************/
/* 3. Hero
/**********************************/
.hero {
	position: relative;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.hero__video {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.hero-text {
	min-width: 37rem;
	padding: 1.6rem;
}

.hero-text__title {
	font-size: 5.2rem;
	font-weight: 900;
	color: var(--clr-white);
	text-transform: uppercase;
}

.hero-text__description {
	font-size: 2.4rem;
	font-weight: 600;
	color: var(--clr-white);
	max-width: 57rem;
	margin: 1rem 0;
}

.hero-text__cta {
	display: block;
	font-size: 3.2rem;
	font-weight: 600;
	color: var(--clr-white);
	width: 25rem;
	text-align: center;
	background-color: var(--clr-medium-green);
	padding: 1.6rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	transition: var(--transition);
}

.hero-text__cta:hover {
	letter-spacing: .5rem;
}

@media screen and (min-width: 960px) {
	.hero-text__title {
		font-size: 7.2rem;
	}

	.hero-text__title--line-2 {
		font-size: 6.4rem;
	}
}

@media screen and (min-width: 1170px) {
	.hero-text {
		padding: 1.6rem calc((100% - 117rem - 1.6rem) / 2);
	}
}
/**********************************/
/* 4. About Us
/**********************************/

/**********************************/
/* 5. Exclusive
/**********************************/



/**********************************/
/* 6. Packages 
/**********************************/



/**********************************/
/* 7. Newsletter
/**********************************/



/**********************************/
/* 8. Gallery
/**********************************/



/**********************************/
/* 9. Footer
/**********************************/



/**********************************/
/* 10. Modal
/**********************************/


