
* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 20px;
    padding: 15px;
    text-transform: capitalize;
}

.container {
    background-color: azure;
    padding: 15px 20px 10px 20px ;
    border: 2px solid aquamarine;
    border-radius: 15px;
}
.overflow{
    overflow: hidden;
}

input[type="name"],
input[type= "password"],
input[type= "email"],
input[type= "pincode"],
section,
select,
textarea{
    padding: 15px;
    width: 100%;
    border: 2px solid gray;
    border-radius: 13px;
    margin: 7px;
}
input[type="submit"]{
    text-align: center;
    background-color: yellowgreen;
    border: 3px solid black;
    padding: 8px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 10%;
    font-weight: bold;
}
input:hover{
    color: black;
    background-color: aqua;
}